# Directories to ignore
**/node_modules/**
.vscode
dist
/docs
/psd
/resources

# Files to ignore
.DS_Store
.env
.known-bad.locklist.local
_tokens.scss
audits/**/*brootaylor*.*
*.zip
deno.lock

# Local Netlify folder
.netlify
