/*********************************************
 * Notes landing / list page-specific rules
 *********************************************/

@use '../abstracts' as *;

.notes-home {

  .notes__list {
    --flow-space: 2em; // `em` value used cause wanting this value to be relative to it's context.
  }

  .notes__list-item {
    padding-bottom: 2em;
  }

  .note__summary {
    --flow-space: 1em; // `em` value used cause wanting this value to be relative to it's context.

    > * + * + * {
      margin-top: var(--flow-space);
    }

    time {
      // Fallback for older browsers
      font-size: convert-to-rem(20px);

      // Browsers supporting `clamp()`
      @supports (font-size: clamp(20px, 2.5vw, 24px)) {
        font-size: clamp(#{convert-to-rem(20px)}, 2.5vw, #{convert-to-rem(24px)});
      }
    }
  }
}
