/*********************************************
 * Projects page-specific rules
 *********************************************/

@use '../abstracts' as *;

.projects {
  .auto-grid {
    max-width: unset;
  }

  .footnotes {
    max-width: 75ch;
    margin-block-start: 2em;
    padding-block-start: 1em;
    border-block-start: 1px solid var(--grey-mid);

    dt {
      float: inline-start;
      margin-inline-end: 1ch;
      font-weight: 600;
    }
  }
}
