/**********************************************************
 * Header styles
 **********************************************************/

@use '../../../../styles/abstracts' as *;

.site-header {
  --header-text: var(--black);
  --header-background: var(--grey-mid);

  position: relative; // Mostly so the contact button can be positioned relative to this element on small to medium screens.
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // Create `--header-background` and `--header-text` variables scoped to this class
  background: var(--header-background);
  color: var(--header-text);

  margin: 0;
  z-index: 100; // Making sure this element always stacks higher than anything else.

    @include min-width($breakpoint-large) {
      // position: sticky;
      // top: 0;
      flex-direction: row;
      align-items: center;
    }
}

