{# The 'shadow--layers' class is added to this component when the bodyClass is not 'homepage' and site.siteMessage is not present. #}
<header role="banner" id="header" class="site-header {{ 'shadow--layers' if not (bodyClass == 'homepage' and site.siteMessage) }}">
	{# Site logo #}
	{% include "components/global/logo/logo.njk" %}

	{# Primary site navigation #}
	{% include "components/global/navigation/navigation.njk" %}
</header>
