/**********************************************************
 * Footer styles
 **********************************************************/

@use '../../../../styles/abstracts' as *;
@use '../../../../styles/utilities' as *;


#footer {
  background-color: var(--grey-light);
  padding: 1rem 0;
  border-top: 1px solid var(--grey-mid);

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  small {
    font-size: 0.90rem;
    text-wrap: pretty;
    padding: 0.5rem 0;

      @include min-width($breakpoint-medium) {
        flex: 1 1 45%;
        max-width: 45%;
        margin-inline-end: 1rem;
      }

      @include min-width($breakpoint-large) {
        flex-basis: 35%;
        max-width: 35%;
      }
  }

  nav {
    font-size: 0.90rem;

    ul {
      @include font-size(16px);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1em;
    }

    li {
      line-height: 0;
      padding: 0.5em 0 0.5em 0;

      // Only the last 4 list items in this list
      &:nth-last-child(-n+4) {
        font-size: 0.9rem;
      }

      // All list items except the last 4
      &:not(:nth-last-child(-n+4)) {
        a {
          display: inline-flex;
          box-shadow: none;
        }
      }
    }

    a {
      font-weight: 400;

      &:hover {
        color: var(--black);
      }
    }
  }
}
