/**********************************************************
 * Site logo styles
 **********************************************************/

@use '../../../../styles/abstracts' as *;

.site-logo {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem;
  background-color: var(--grey-dark);
  white-space: nowrap;

    @include min-width($breakpoint-large) {
      padding-left: 2rem;
      padding-right: 2rem;
    }

  a {
    font-weight: inherit;
    color: var(--white);
    text-decoration-color: transparent;
    box-shadow: none;

      @include min-width($breakpoint-large) {
        display: block;
      }

    &:active,
    &:focus,
    &:hover {
      color: var(--orange-custom);
      border: 0;
    }
  }
}
