---
permalink: '.well-known/atproto-did'
eleventyExcludeFromCollections: true
eleventyAllowMissingExtension: true
---
{#- Bluesky account domain authentication / verification -#}
did:plc:aydbpmha2zzkk4zby4cvai37
