---
permalink: '/robots.txt'
hidden: true
eleventyExcludeFromCollections: true
---
# www.robotstxt.org
# Ref: https://yoast.com/ultimate-guide-robots-txt/

{% if site.robotsCrawl -%}
# ALLOW crawling of all content except for certain user-agents, directories / pages etc. and their contents eg. `/foo`
# == Open the doors to all other user-agents in Production ==
User-agent: *
Disallow:

{% else -%}
# DISALLOW crawling of all content
# == Handy during beta testing ==
User-agent: *
Disallow: /
{%- endif -%}

{%- if site.aiCrawl == false -%}
# Dark Visitors AI agent list
# https://darkvisitors.com
{#- Loops through global `_data` file called `agents.json` #}
{% for agent in agents %}
User-agent: {{ agent }}
Disallow: /
{% endfor %}
{% endif -%}

# Sitemap location
Sitemap: {{ site.rootUrl }}/sitemap.xml
