/**********************************************************
 * Links
 **********************************************************/

@use '../../../../styles/abstracts' as *;


a {
  &,
  &:active,
  &:visited {
    font-weight: 500;
    color: inherit;
    text-decoration: none;
    transition: 0.3s;
    box-shadow: inset 0 -0.45em 0 var(--orange-custom-light);
  }

  &:hover,
  &:active {
    outline: none;
  }

  &:hover {
    font-weight: 500;
    box-shadow: inset 0 -1em 0 var(--orange-custom-light);
  }

  // In the context of an article...
  article & {
    // External link
    &[rel~="external"]:not(.button) {
      &::after {
        background: url(/assets/icons/icon_external.svg) no-repeat;
        content: "";
        display: inline-block;
        width: 0.75em;
        height: 0.75em;
        margin-left: 0.125em;
        margin-right: 0.125em;
        vertical-align: baseline;
        opacity: 0.4;
        transition: opacity 0.3s ease-in-out;
      }

      // On hover...
      &:hover {
        &::after {
            opacity: 1;
        }
      }
    }
  }

  // If a link's in a list within an article, but the list item doesn't have a class...
  article li:not([class]) & {
    line-height: 1.8;
  }

  // If a link's in a list within an article and has a class `footnote`...
  article li & {
    &.footnote {
      line-height: 1;
    }
  }

  // If an external link's in an article's lead element...
  article .lead & {
    font-weight: 600;

    &[rel~="external"] {
      font-weight: 600;
    }
  }

  // If a link's in a heading element...
  h1 &,
  h2 &,
  h3 &,
  h4 & {
    font-weight: inherit;

    // On hover the link should inherit the font-weight of its parent...
    &:hover {
      font-weight: inherit;
    }
  }

  // If a link has a `doc-noteref` attribute...
  [rel*="doc-noteref"] & {
    &:hover,
    &:focus {
      sup {
        color: var(--white);
        background-color: var(--grey-dark);
      }
    }

    &:focus {
      sup {
        outline: 2px solid var(--black);
      }
    }
  }
}
